@model ToDO
<h2>New Task</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post">

	<div class="mb-3">
		<label asp-for="Description" class="form-label">Description</label>
		<input asp-for="Description" class="form-control"></input>
	</div>

	<div class="mb-3">
		<label asp-for="Categoryid" class="form-label"> Category</label>
		<select asp-for="Categoryid" class="form-select" asp-items="@(new SelectList(ViewBag.Categories,"Categoryid","Name"))">
			<option value=""></option>
		</select>
		
	</div>

	<div class="mb-3">
		<label asp-for="Duedate" class="form-label">Due Date:</label>
		<input asp-for="Duedate" class="form-control" type="text"></input>
	</div>

	<div class="mb-3">
		<label asp-for="StatusId" class="form-label"> Status</label>
		<select asp-for="StatusId" class="form-select" asp-items="@(new SelectList(ViewBag.Statuss,"StatusId","Name"))"></select>
	</div>

	<button type="submit" class="btn btn-primary">Add</button>
	<a asp-action="Index" class="btn btn-primary">Cancel</a>

</form>